<section class="header">
    <div class="container">
      <div class="header-top">
        <div class="name">Muhammadsodiq Mahammadjonov</div>
  
        <input type="checkbox" id="menu-toggle" class="menu-toggle" />
        <label for="menu-toggle" class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </label>
  
        <nav class="nav">
          <a class="nav_link" routerLink="/home" routerLinkActive="active">Home</a>
          <a class="nav_link" routerLink="/about" routerLinkActive="active">About</a>
          <a class="nav_link" routerLink="/projects" routerLinkActive="active">Projects</a>
          <a class="nav_link" routerLink="/skills" routerLinkActive="active">Skills</a>
          <a class="nav_link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </nav>
      </div>
    </div>
  </section>
  <hr class="hr_header">